* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-width: 250px;
}

body {
  background-color: rgba(182, 180, 180, 0.966);
  min-width: 250px;
}

footer {
  min-width: 250px;
}

.index,
.acerca-de,
.pag_construccion {
  background-color: #F8F9FA;
  min-height: 500px;
}

main {
  margin: 1% 0;
}

header nav div h1 {
  display: inline-block;
  width: 10%;
}
header nav div h1 .empresa-logo {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  header nav div h1 {
    width: 6%;
  }
}
.index {
  height: 87vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7% 30% 7% 25% 25%;
  padding: 0 5% 0 5%;
  margin: 0 5%;
  align-content: center;
  border-radius: 2%;
  border-style: solid;
  border-color: gray;
}
.index .grid-item {
  display: none;
}
.index div a .ofertas {
  border-radius: 15%;
}
.index div a .img1,
.index div a .img2,
.index div a .img3,
.index div a .img4 {
  border-style: solid;
  border-color: white;
}
.index div a .img1.img1,
.index div a .img2.img1,
.index div a .img3.img1,
.index div a .img4.img1 {
  border-radius: 30% 0 0 0;
}
.index div a .img1.img2,
.index div a .img2.img2,
.index div a .img3.img2,
.index div a .img4.img2 {
  border-radius: 0 30% 0 0;
}
.index div a .img1.img3,
.index div a .img2.img3,
.index div a .img3.img3,
.index div a .img4.img3 {
  border-radius: 0 0 0 30%;
}
.index div a .img1.img4,
.index div a .img2.img4,
.index div a .img3.img4,
.index div a .img4.img4 {
  border-radius: 0 0 30% 0;
}
.index div a img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
.index .categorias {
  display: flex;
  justify-content: center;
}
.index div h2 {
  text-align: center;
  display: inline-block;
  border: none;
  background-color: #c5c5c5;
  color: #f8f9fa;
  font-size: 1.2rem;
  padding: 2px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.index .descuentos {
  grid-column: 2 span;
  margin-bottom: 1.8%;
}
.index .categorias {
  grid-column: 2 span;
}

@media screen and (min-width: 500px) {
  .index {
    height: 87vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 7% 35% 7% 25% 25%;
    padding: 0;
    padding: 0 8%;
    align-content: center;
  }
  .index .categorias {
    grid-column: 4 span;
  }
  .index .grid-item {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .index {
    height: 87vh;
    display: grid;
    grid-template-columns: 0.85fr 1.05fr 1.05fr 0.85fr;
    grid-template-rows: 7% 32% 7% 25% 25%;
    padding: 0 18%;
    align-content: center;
  }
  .index .categorias {
    grid-column: 4 span;
  }
  .index .grid-item {
    display: block;
  }
  .index div h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1400px) {
  .index {
    height: 87vh;
    display: grid;
    grid-template-columns: 1.05fr 0.95fr 0.95fr 1.05fr;
    grid-template-rows: 7% 32% 7% 25% 25%;
  }
  .index div h2 {
    font-size: 1.5rem;
    padding: 5px 10px 10px 10px;
  }
}
.acerca-de {
  height: 87vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 35% 30%;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 2%;
  border-style: solid;
  border-color: gray;
  margin: 0 5%;
  gap: 1%;
}
.acerca-de .titulo-acerca-de {
  grid-column: 3 span;
}
.acerca-de .detalle-acerca-de {
  grid-column: 3 span;
  justify-content: center;
}
.acerca-de .maps iframe {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .acerca-de {
    grid-template-rows: 10% 25% 45%;
  }
  .acerca-de .maps iframe {
    height: 250px;
  }
}
.main-articulos .contenedor-articulo {
  height: 87vh;
  display: grid;
  grid-template-rows: 40% 30%;
  justify-content: space-between;
  justify-items: center;
  margin: 0 10%;
  background-color: white;
  border-style: solid;
  border-radius: 2%;
  border-color: gray;
}
.main-articulos .contenedor-articulo div img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 5px 0;
  border-radius: 2%;
}
.main-articulos .contenedor-articulo .grid-item {
  display: none;
}

@media screen and (min-width: 550px) {
  .main-articulos .contenedor-articulo {
    height: 87vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 30%;
  }
  .main-articulos .contenedor-articulo .grid-item {
    display: block;
  }
  .main-articulos .contenedor-articulo .texto {
    grid-row: 2 span;
  }
  .main-articulos .contenedor-articulo div img {
    max-height: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 990px) {
  .main-articulos .contenedor-articulo {
    height: 87vh;
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-rows: 55% 30%;
  }
  .main-articulos .contenedor-articulo .grid-item {
    display: block;
  }
  .main-articulos .contenedor-articulo .texto {
    grid-row: 2 span;
  }
}
.main-catalogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.6fr;
  margin: 0 10%;
  padding-bottom: 1%;
}
.main-catalogo .container-filtros {
  margin: 5%;
  background-color: white;
  border-style: solid;
  border-radius: 2%;
  border-color: gray;
  color: gray;
}
.main-catalogo .container-filtros div {
  height: 20px;
}
.main-catalogo .container-filtros div h6 {
  text-align: center;
}
.main-catalogo .container-productos {
  background-color: white;
  border-style: solid;
  border-radius: 2%;
  border-color: gray;
  color: gray;
}
.main-catalogo .container-productos a {
  text-decoration: none;
  color: gray;
}
.main-catalogo .container-productos div img {
  display: block;
  max-width: 100%;
  width: 80%;
  margin: 10px auto;
  height: auto;
  border-radius: 2%;
}
.main-catalogo .container-productos div p {
  text-align: center;
  border-bottom: solid;
  border-color: gray;
}
.main-catalogo .container-productos div .texto-cierre {
  border-bottom: none;
}
.main-catalogo .filtros {
  display: flex;
  justify-content: center;
  height: 20px;
  color: gray;
  justify-content: center;
  column-gap: 5%;
  border-radius: 2%;
}
.main-catalogo .grid-item {
  display: none;
}

@media screen and (min-width: 600px) {
  .main-catalogo {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 0.07fr 1fr;
    margin: 0 10%;
  }
  .main-catalogo .container-filtros .filtros {
    flex-direction: column;
    margin-top: 35px;
  }
  .main-catalogo .container-filtros .filtros p {
    height: 10px;
  }
  .main-catalogo .container-productos {
    grid-column: 2 span;
    margin-top: 1%;
    grid-row: 2 span;
  }
  .main-catalogo .container-productos div p {
    border-bottom: none;
  }
  .main-catalogo .grid-item {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .main-catalogo {
    grid-template-rows: 0.25fr 1fr;
    min-height: 600px;
  }
  .main-catalogo .container-filtros .filtros {
    flex-direction: column;
    margin-top: 35px;
  }
  .main-catalogo .container-filtros .filtros p {
    margin-left: 10px;
  }
  .main-catalogo .container-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
  }
  .main-catalogo .container-productos div img {
    max-width: 100%;
    width: 70%;
    margin: 10px auto;
    height: auto;
  }
  .main-catalogo .grid-item {
    display: block;
  }
}
.pag_construccion {
  height: 72vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 50%;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 2%;
  border-style: solid;
  border-color: gray;
  margin: 0 5%;
  padding-right: 6px;
  gap: 1%;
  background-color: white;
}
.pag_construccion .grid-item {
  display: none;
}
.pag_construccion .titulo-acerca-de {
  grid-column: 3 span;
}
.pag_construccion .maps {
  grid-column: 3 span;
}
.pag_construccion .maps img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .pag_construccion {
    height: 90vh;
    display: grid;
    grid-template-rows: 10% 70%;
  }
  .pag_construccion .maps img {
    max-width: 100%;
    width: 95%;
    margin: 10px auto;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .pag_construccion {
    height: 87vh;
    display: grid;
    min-height: 570px;
    grid-template-rows: 10% 90%;
  }
  .pag_construccion .maps img {
    max-width: 100%;
    width: 80%;
    margin: 10px auto;
    height: auto;
  }
}
footer {
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
  align-items: center;
  border-radius: 2%;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
  margin-right: 35px;
}

/*# sourceMappingURL=style.css.map */
