* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(182, 180, 180, 0.966);
}

.index,
.acerca-de {
  background-color: #F8F9FA;
}

main {
  margin: 1% 0;
}

header nav div h1 {
  display: inline-block;
  width: 10%;
}
header nav div h1 .empresa-logo {
  width: 100%;
  object-fit: cover;
}

.index {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 40% 10% 20% 20%;
  margin: 0 7%;
  align-content: center;
  border-radius: 2%;
  border-style: solid;
  border-color: white;
}
.index .grid-item {
  display: none;
}
.index div a .ofertas {
  border-radius: 25%;
}
.index div a .img1,
.index div a .img2,
.index div a .img3,
.index div a .img4 {
  border-style: solid;
  border-color: white;
}
.index div a .img1.img1,
.index div a .img2.img1,
.index div a .img3.img1,
.index div a .img4.img1 {
  border-radius: 30% 0 0 0;
}
.index div a .img1.img2,
.index div a .img2.img2,
.index div a .img3.img2,
.index div a .img4.img2 {
  border-radius: 0 30% 0 0;
}
.index div a .img1.img3,
.index div a .img2.img3,
.index div a .img3.img3,
.index div a .img4.img3 {
  border-radius: 0 0 0 30%;
}
.index div a .img1.img4,
.index div a .img2.img4,
.index div a .img3.img4,
.index div a .img4.img4 {
  border-radius: 0 0 30% 0;
}
.index div a img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
.index .categorias {
  display: flex;
  justify-content: center;
}
.index div h2 {
  text-align: center;
  display: inline-block;
  border-style: hidden;
  border-color: rgba(126, 126, 126, 0.5137254902);
  background-color: #cacaca;
  color: #F8F9FA;
  -webkit-text-stroke-width: 0.2px; /* Grosor del borde */
  -webkit-text-stroke-color: #717275;
  border-radius: 25%;
  font-size: 1rem;
  padding: 6px 10px 10px 10px;
}
.index .descuentos {
  grid-column: 2 span;
  margin-bottom: 1.8%;
}
.index .categorias {
  grid-column: 2 span;
}

@media screen and (min-width: 600px) {
  .index {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 30% 10% 20% 20%;
    padding: 0;
    padding: 0 8%;
    align-content: center;
  }
  .index .categorias {
    grid-column: 4 span;
  }
  .index .grid-item {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .index {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 9% 32% 9% 25% 25%;
    padding: 0 18%;
    align-content: center;
  }
  .index .categorias {
    grid-column: 4 span;
  }
  .index .grid-item {
    display: block;
  }
  .index div h2 {
    font-size: 1.5rem;
    padding: 8px 10px 10px 10px;
  }
}
@media screen and (min-width: 1400px) {
  .index div h2 {
    font-size: 3rem;
    padding: 8px 10px 10px 10px;
  }
}
.acerca-de {
  height: 80vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 35% 30%;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 2%;
  border-style: solid;
  border-color: white;
  margin: 0 5%;
  gap: 1%;
}
.acerca-de .titulo-acerca-de {
  grid-column: 3 span;
}
.acerca-de .detalle-acerca-de {
  grid-column: 3 span;
  justify-content: center;
}
.acerca-de .maps iframe {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .acerca-de {
    height: 90vh;
    display: grid;
    grid-template-rows: 10% 25% 45%;
  }
  .acerca-de .maps iframe {
    height: 250px;
  }
}
.main-articulos .contenedor-articulo {
  height: 70vh;
  display: grid;
  grid-template-rows: 40% 30%;
  justify-content: space-between;
  margin: 0 20%;
  background-color: white;
  border-style: solid;
  border-radius: 2%;
}
.main-articulos .contenedor-articulo div img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 20px;
  border-radius: 2%;
}
.main-articulos .contenedor-articulo .grid-item {
  display: none;
}

@media screen and (min-width: 600px) {
  .main-articulos .contenedor-articulo {
    height: 80vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 30%;
  }
  .main-articulos .contenedor-articulo .grid-item {
    display: block;
  }
  .main-articulos .contenedor-articulo .texto {
    grid-row: 2 span;
  }
}
@media screen and (min-width: 990px) {
  .main-articulos .contenedor-articulo {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-rows: 55% 30%;
  }
  .main-articulos .contenedor-articulo .grid-item {
    display: block;
  }
  .main-articulos .contenedor-articulo .texto {
    grid-row: 2 span;
  }
}
footer {
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
  align-items: center;
  border-radius: 2%;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
  margin-right: 35px;
}

/*# sourceMappingURL=style.css.map */
