@import "../utilidades/variables-listas-dicionarios";
@import "../utilidades/mixin";

// Estilos para el Acerca de
//-----------------------------------------------------
.acerca-de {
    @include height-grid(80vh, grid);
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 35% 30%;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: nth($border-list, 2 );
    border-style: nth($border-list, 1 );
    border-color: map-get($colors, border);
    margin: 0 5%;
    gap: 1%;
  
    .titulo-acerca-de {
      grid-column: 3 span;
    }
  
    .detalle-acerca-de {
      grid-column: 3 span;
      justify-content: center;
    }
  
    .maps iframe {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media screen and (min-width: 600px) {
    .acerca-de {
      @include height-grid(90vh, grid);
      grid-template-rows: 10% 25% 45%;
    }
  
    .acerca-de .maps iframe {
      height: 250px;
    }
  }