@import "../utilidades/variables-listas-dicionarios";
@import "../utilidades/mixin";
// Estilos para el index o pagina principal
//-----------------------------------------------------
.index {
    @include height-grid(85vh, grid);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7% 30% 7% 25% 25%;
    padding: 0 5% 0 5%;
    margin: 0 5%;
    align-content: center;
    border-radius: nth($border-list, 2 );
    border-style: nth($border-list, 1 );
    border-color: map-get($colors, footer-text);
    
  
    .grid-item {
      display: none;
    }
  
    div a {
      .ofertas {
        border-radius: nth($border-list, 3 );
      }
  
      .img1,
      .img2,
      .img3,
      .img4 {
        border-style: nth($border-list, 1 );
        border-color: map-get($colors, border);
        &.img1 {
          border-radius: map-get($images-border, first);
        }
        &.img2 {
          border-radius: map-get($images-border, second);
        }
        &.img3 {
          border-radius: map-get($images-border, third);
        }
        &.img4 {
          border-radius: map-get($images-border, Fourth);
        }
      }
  
      img {
        @include img;
        object-fit: fill;
     }
    }
  
    .categorias {
      @include flex;
    }
  
    div h2 {
      text-align: center;
      display: inline-block;
      border: none; 
      background-color: #c5c5c5; 
      color: #f8f9fa; 
      font-size: 1.2rem;
      padding: 10px; 
      border-radius: 8px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  
    .descuentos {
      grid-column: 2 span;
      margin-bottom: 1.8%;
    }
  
    .categorias {
      grid-column: 2 span;
    }
  }
  // Estilos Tablet
@media screen and (min-width: 500px) {
    .index {
      @include height-grid(85vh, grid);  
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
      grid-template-rows: 7% 35% 7% 25% 25%;
      padding: 0;
      padding: 0 8%;
      align-content: center;
    }
  
    .index .categorias {
      grid-column: 4 span;
    }
  
    .index .grid-item {
      display: block;
    }
  }
  
  // Media Query de Desktop
  @media screen and (min-width: 900px) {
    .index {
      @include height-grid(85vh, grid);
      grid-template-columns: 0.7fr 1.3fr 1.3fr 0.7fr;
      grid-template-rows: 7% 32% 7% 25% 25%;
      padding: 0 18%;
      align-content: center;
    }
  
    .index .categorias {
      grid-column: 4 span;
    }
  
    .index .grid-item {
      display: block;
    }
    .index div h2 {
      font-size: 1.2rem;
      padding: 6px 10px 10px 10px;
    }
  }
  @media screen and (min-width: 1400px) {
    .index {
      @include height-grid(85vh, grid);
      grid-template-columns: 1.05fr 0.95fr 0.95fr 1.05fr;
      grid-template-rows: 7% 32% 7% 25% 25%;

    }
    .index div h2 {
      font-size: 1.5rem;
      padding: 5px 10px 10px 10px;
    }
  }
