@import "../utilidades/variables-listas-dicionarios";
@import "../utilidades/mixin";
// Estilos para compra de artículo
//-----------------------------------------------------
.main-articulos .contenedor-articulo {
    @include height-grid(85vh, grid);
    grid-template-rows: 40% 30%;
    justify-content: space-between;
    justify-items: center;
    margin: 0 10%;
    background-color: white;
    border-style: nth($border-list , 1 );
    border-radius: nth($border-list , 2 );
    border-color: map-get($colors, footer-text);
  
    div img {
      @include img;
      max-height: 100%;
      max-width: 450px;
      border-radius: $border-radius;
    }
  
    .grid-item {
      display: none;
    }
  }
  
  @media screen and (min-width: 550px) {
    .main-articulos .contenedor-articulo {
      @include height-grid(85vh, grid);
      grid-template-columns: 65% 35%;
      grid-template-rows: 50% 30%;
    }
  
    .main-articulos .contenedor-articulo .grid-item {
      display: block;
    }
  
    .main-articulos .contenedor-articulo .texto {
      grid-row: 2 span;
    }
    .main-articulos .contenedor-articulo div img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 990px) {
    .main-articulos .contenedor-articulo {
      @include height-grid(85vh, grid);
      grid-template-columns: 50% 45%;
      grid-template-rows: 55% 30%;
    }
  
    .main-articulos .contenedor-articulo .grid-item {
      display: block;
    }
  
    .main-articulos .contenedor-articulo .texto {
      grid-row: 2 span;
    }
  }