// Diccionarios
$colors: (
  body: rgba(182, 180, 180, 0.966),
  container: #F8F9FA,
  border: white,
  footer: #DCDCDC,
  footer-text: gray
);

$images-border: (
  first: 30% 0 0 0,
  second: 0 30% 0 0,
  third: 0 0 0 30%,
  Fourth : 0 0 30% 0
);

// Variables
$border-radius: 2%;
$border-style: solid;
$margin-main: 1% 0;

$border-list:
solid, 2%, 25%,;